.text-orange {
  color: #da6122;
}
.top-menu-img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.top-menu {
  width: 100%;
  padding: 25px 25px;
  background: #fff7f3;
  border-bottom: 2px solid #da6427;
  text-align: center;
}
.form-group {
  margin-top: 20px;
}
.form-control {
  margin-bottom: 20px;
}
// .label1{
//     padding-bottom: 20px;
// }
.button {
  margin-bottom: 17px;
  margin-left: 4px;
  background-color: #da6427;
  color: #fff7f3;
  border-radius: 10px;
}
.fontfamiliy {
  font-family: "Montserrat", sans-serif;
}
// .pp{
//     margin-left: 100px;
// }
.add {
  font-size: 30px;
  background-color: #da6427;
  color: #fff;
  border: 2px solid#DA6427;
  border: none;
  // border-radius: 5px;
  height: 35px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.remove {
  font-size: 30px;
  background-color: #da6427;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 35px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.margin {
  margin-left: 10px;
}

//   .box{
//     border-bottom:#DA6122
//   }

.end {
  position: absolute;
  right: 12%;
  top: 21%;
  background-color: #da6122;
  color: #fff7f3;
  border-radius: 8px;
  border: none;
  padding: 8px;
}
