.text-orange {
  color: #da6122;
}
.top-menu-img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.top-menu {
  width: 100%;
  padding: 25px 25px;
  background: #fff7f3;
  border-bottom: 2px solid #da6427;
  text-align: center;
}
.form-group {
  margin-top: 20px;
}
.form-control {
  margin-bottom: 20px;
}
// .label1{
//     padding-bottom: 20px;
// }
.button {
  margin-bottom: 17px;
  margin-left: 4px;
  background-color: #da6427;
  color: #fff7f3;
  border-radius: 10px;
}
.fontfamiliy {
  font-family: "Montserrat", sans-serif;
}
// .pp{
//     margin-left: 100px;
// }
.add {
  font-size: 30px;
  background-color: #da6427;
  color: #fff;
  border: 2px solid#DA6427;
  border: none;
  // border-radius: 5px;
  height: 35px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.remove {
  font-size: 30px;
  background-color: #da6427;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 35px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.margin {
  margin-left: 10px;
}

//   .box{
//     border-bottom:#DA6122
//   }

.end {
  position: absolute;
  right: 12%;
  top: 21%;
  background-color: #da6122;
  color: #fff7f3;
  border-radius: 8px;
  border: none;
  padding: 8px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.custom-add-btn {
  background-color: #DA6427;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 45px;
  white-space: nowrap;
  padding: 0 15px;
}

element.style {
  display: block;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
hr {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid black;
}
hr {
  box-sizing: content-box;
  height: 10px;
  overflow: visible;
}
.custom-add-btn {
  background-color: #DA6427;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 45px;
  white-space: nowrap;
  padding: 10px 15px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.custom-btn {
  width: 100%;
  max-width: 42px;
  margin-left: 5px;
  background-color: #DA6427;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 45px;
  white-space: nowrap;
}
.ml-2, .mx-2 {
  margin-left: 0.5rem!important;
}
// [type=button], [type=reset], [type=submit], button {
//   -webkit-appearance: button;
// }

button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2em + 0.8rem + 2.1px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, select {
  text-transform: none;
}
input::placeholder {
  font: 20px/3 sans-serif;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}
