<div class="top-menu" style="border-bottom: 2px solid #da6122">
    <img class="top-menu-img" src="./../../assets/Images/logo.png"/>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active show" id="home-tab" routerLink="Request For Leave" routerLinkActive="active" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Daily Updates</a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="profile-tab" data-toggle="tab" routerLink="Daily Updates" routerLinkActive="active" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Request For Leave</a>
    </li>       
</ul>
    <!-- <div
      class="box pt-2"
      style="margin: auto; width: 30%; border-bottom: 5px solid #da6122">
      <h2 class="text-center fs-1 py-3 fw-bold">{{ line }}</h2> -->
    <!-- </div></div> -->