// .btn-danger{
// 	background: #e91405;
// 	border: 1px solid  #e91405;
// }
.margin1{
  margin-left: 79px;
 
}
// body{
// 	background: #E2E5EE;
// }
// .close:focus{
// 	outline: none;
// }
// .container.justify-content-center{
// 	margin-top: 200px;
// }
// .modal-header{
// 	border: none;
// }
// .modal-footer{
// 	border: none;
// }

// .btn-light{
// 	border: 1px solid #E7E7E9;
// }

// .btn:focus{
// 	box-shadow: none;
// }
.margin{
  margin-left: 70px;
 
}
.shrink {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width:29px;
    overflow: hidden;
    max-height: 40px;
   }
   input.ng-invalid.ng-touched{
    border: 1px solid red;
     ;
  }
  .main{
    background-color: rgb(195, 237, 237);
    width: 900px;
    height: auto;
    border-radius: 20px;
    margin-left: 100px;
  }
  small.ng-invalid.ng-touched{
    border: 1px solid red;
  }

 