// .btn-danger{
// 	background: #e91405;
// 	border: 1px solid  #e91405;
// }
// body{
// 	background: #E2E5EE;
// }
// .close:focus{
// 	outline: none;
// }
// .container.justify-content-center{
// 	margin-top: 200px;
// }
// .modal-header{
// 	border: none;
// }
// .modal-footer{
// 	border: none;
// }

// .btn-light{
// 	border: 1px solid #E7E7E9;
// }

// .btn:focus{
// 	box-shadow: none;
// }
.shrink {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width:29px;
    overflow: hidden;
    max-height: 40px;
   }
   input.ng-invalid.ng-touched{
    border: 1px solid red;
     ;
  }
  
  small.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  .main{
    background-color: grey;
    border-radius: 3px;
  }
 