<div class="table-responsive col-6" style="width: 40%">
  <input
    type="text"
    placeholder="Serch Gender..."
    width="450px;"
    class="form-control"
    [(ngModel)]="search"
  />
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">{{ title }}</th>
        <th scope="col">{{ email }}</th>
        <th scope="col">{{ name }}</th>
        <th scope="col">{{ tdate }}</th>
        <th scope="col">{{ gender }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of array | filterpipe : search">
        <td>{{ user.title }}</td>
        <td class="shrink">{{ user.email }}</td>
        <th class="shrink">{{ user.name  }}</th>
        <td class="shrink">{{ user.tdate }}</td>
        <td class="shrink">{{ user.gender }}</td>
      </tr>
    </tbody>
  </table>

  <div class="jumbotron text-center text-danger">
    <h1>Pipe In Angular</h1>
  </div>
  <p>
    Upper Case :{{ upperName | uppercase }}<br />
    Lower Case :{{ lowerName | lowercase }}<br />
    Title Case :{{ titleName | titlecase }}<br />
    Date: {{ dateToday }}<br />
    Date Pipe: {{ dateToday | date | uppercase }}<br />
    Date Pipe: {{ dateToday | date : "short" | lowercase }}<br />
    Name: {{ name | uppercase }} <br />
    Name: {{ name | slice : 6 | uppercase }}<br />
    Currency FormatesUSD : {{ num1 | currency }} (Default)<br />
    Currency FormatesIndia : {{ num1 | currency : "INR" }}<br />
    Currency FormatesEuro : {{ num1 | currency : "EUR" }}<br />
    Decimal Formates : {{ pi | number }}<br />
    Decimal Formates :{{ pi | number : "3.2-9" }}<br />
    Decimal Formates :{{ pi | number : "1.3" }}<br />
    Decimal Formates :{{ pi | number : "1.3-6" }}<br />
    Decimal Formates :{{ num2 | number : "" : "en" }}<br />
    Percent Formates:{{ percent | percent }}<br />
    Percent Formates:{{ percent | percent : "4.3-5" }}<br />
    Percent Formates:{{ percent | percent : "2.2-5" }}<br />
    Percent Formates:{{ percent | percent : "1.2-5" }}<br />
  </p>
</div>
