 .animation{
    width: 400px;
    height: auto;
    background-color: rgb(118, 112, 112);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
 }
    
  
@keyframes example {
    0%   {background-color:rgb(93, 89, 89); left:0px; top:0px;}
    25%  {background-color:rgb(246, 246, 239); left:200px; top:0px;}
   
  }