/* You can add global styles to this file, and also import other style files */
*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.highlight {
    background-color: #DA6427;
    font-weight: bold;
  }